.section-contact {
  background-color: lightyellow;
}

.section-about {
  text-align: justify;
  text-justify: inter-word;
}

.about-image {
  width: 100%;
  height: 100%;
}

.section-history {
  text-align: justify;
  text-justify: inter-word;
}

.section-contact {
  padding: 20px;
}

.section-gallery {
  padding: 3rem 0;
}

.section-cart {
  padding-top: 100px;
}

.signup-form,
.login-form {
  margin: 40px;
}

.navbar-shrink-dark {
  background-color: black;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.inputcounter {
  font-size: 16px;
  margin: 0px 5px;
  text-align: center;
  width: 50px;
}

.carousel-gallery {
  max-width: 700px;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
}

a:link {
  text-decoration: none;
}

.table.table-cart .product-title {
  margin-bottom: 0;
}
.table.table-cart tr td.product-col {
  padding: 2rem .8rem 1.8rem 0;
}
.table.table-cart tr td.product-col {
  padding: 2rem .8rem 1.8rem 0;
}
.table.table-cart tr td {
  padding: 2rem 1.5rem;
  border-top: 1px solid #ccc;
}
.table.table-cart tr th, .table.table-cart tr td {
  vertical-align: middle;
}
tbody .product-col {
  font-size: 0;
}

.product-col .product-title {
  display: inline-block;
  vertical-align: middle;
  }

h2.product-title {
  font-size: 1.1rem;
}

.product-title a {
  transition: all .3s;
  color: #252525;
  text-decoration: none;
}

.product-image img {
  display: block;
  max-width: 200px;
  height: auto;
}

.cart-summary {
  margin-bottom: 2.5rem;
  padding: 1.4rem 1.8rem 2.2rem;
  border: 1px solid #ddd;
  background: #fbfbfb;
}

.btn-delete {
  color: black;
}
